/* Contact.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  /* font-family: 'Arial, sans-serif'; */
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.contact-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-title {
  font-size: 250%;
  margin-bottom: 20px;
  color: #333;
  /* color: rgb(156, 124, 85); */
  background: linear-gradient(45deg, rgb(156, 124, 85), rgb(156, 124, 85));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: 'Montserrat', sans-serif; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-section {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.contact-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #555;
}

.contact-section p {
  font-size: 18px;
  /* margin: 5px 0; */
  color: #777;
}

.working-hours {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.working-hours h1 {
  font-size: 250%;
  /* color: #333; */
  color: rgb(156, 124, 85);
  margin-bottom: 10px;
}

.working-hours p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

.working-hours p span {
  font-weight: bold;
  color: #000;
}

/* .whatsapp-title {
  font-size: large;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 3%;
} */

/* .whatsapp-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #25d366;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* .whatsapp-icon {
  width: 25%;
  height: 20%;
  padding: 0%;
} */

/* .whatsapp-button i {
  margin-right: 8px;
}
 */
/* .whatsapp-button:hover {
  background-color: #1ebe5b;
} */

.location-title {
  font-size: 250%;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(156, 124, 85);
}

.map-frame {
  width: 100%;
  height: 800px;
  border: 0;
  border-radius: 8px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns */
  grid-template-rows: auto auto;
  /* Two rows */
  gap: 10px;
  /* Space between grid items */
}

.grid-item {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

/* Specific item styling */
.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 2;
  grid-row: 1 / span 2;
  /* Span two rows */
}

.item3 {
  grid-column: 1;
  grid-row: 2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Single column on smaller screens */
    grid-template-rows: auto;
    /* Auto rows */
  }

  .item2 {
    grid-column: 1;
    /* Full width on smaller screens */
    grid-row: 2;
  }

  .item3 {
    grid-column: 1;
    /* Full width on smaller screens */
    grid-row: 3;
  }

  .contact-section p {
  font-size: 14px;
  /* margin: 5px 0; */
  color: #777;
}

.contact-container {
  max-width: 100%;
  padding-top: initial;
}


/* .whatsapp-icon {
  width: 50%;
  height: 20%;
  padding: 0%;
  border-radius: 20%;
} */
}