.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #161616;
    color: white;
    text-align: center;
    padding: 15px 8%;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: -10px;
    padding-bottom: 5px;
    height: 100px;
}

.logo {
    width: 30px;
    cursor: pointer;
    height: 30px;
    overflow: 'hidden';
    border-radius: .5rem;
}

.text {
    padding: 10px;
}
