body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .services-container {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    /* max-height: 800px; */
    min-height: 700px;
  }
  
  .services-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .services-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 1rem;
    transition: transform 0.2s;
  }
  
  .service-card:hover {
    transform: scale(1.05);
    flex-wrap: wrap;
  }
  
  .service-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .service-title {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .service-description {
    font-size: 1rem;
    color: #555;
  }
  